/**{
    margin: 0%;
    padding: 0%;
}
*/
body,
html {
    background-image: url('../images/coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: 10px;
    padding: 20px;
}

h1 {
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: whitesmoke;
}

h1:hover {
    color: brown;
}

ul {
    float: right;
}

.main-navbar {
    padding: 0%;
}

.main-navbar ul {
    list-style: none;
}

.main-navbar li {
    display: inline;
}

.main-navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding-right: 15px;
}

a:hover {
    color: brown;
}

.main-section {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -80%);
    padding: 15px;
}

.bgbutton1 {
    border: 12px solid brown;
    border-radius: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: inherit;
    background-color: brown
}

.bgbutton1:hover {
    color: rgb(204, 85, 85);
}

.bgbutton2 {
    border: 12px solid coral;
    border-radius: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: inherit;
    background-color: coral;
}

.bgbutton2:hover {
    color: rgb(192, 149, 149);
}

.main-footer {
    position: absolute;
    float: left;
    color: white;
    padding: 15px;
    top: 90%;
}

.main-footer:hover {
    color: black;
}